  <h1><%= link_to 'ご注文フォーム', root_path, class:'reservation-form'%></h1>
  <%= form_with model: @order, class: 'order', local: true do |f| %>
  
    <div class="reservation-price">
    <h2>商品選択</h2>

    <%= Product.all.each do |product|%>
      <%= @product.product_name %>
    <% end %>

    <div class="reservation-btn">
      <%= link_to '戻る', root_path, class:'reservation-form'%> 
    </div>

  <% end %>