  <h1><%= link_to 'ご注文フォーム', root_path, class:'reservation-form'%></h1>
  <%= form_with model: @order, class: 'order', local: true do |f| %>
  
      <div class="reservation-price">
        <h2>商品選択</h2>

        <div calss="reservation-date">
          <%= f.label :日付を選択, class: 'label'%><br />
          <%= f.date_field :date, class: 'date' %>
        </div>

        <div class="menu">
          コース<br /> 
          <%= f.select :menu_id, (Menu.all.map {|m| [m.name, m.id, {'data-price' => m.price }]}), {}, {id: 'menu_select'} %>
        </div>
        
        <div class="person-price">
          <span>1人当たりのお支払い</span><br />
          <span>
          <span id="person_price"></span>円 
          </span>
        </div>

        <div class="total-price">
          <span>合計金額</span><br />
          <span>
          <span id="total_price"></span>円
          </span>
          
        </div>

        <div class="reservation-remark">
          <%= f.label :その他%><br />
          <%= f.text_area :remark, placeholder:"嫌いな食べ物など",class: 'remark'%>
        </div>

      <div>
        <%= f.submit "予約する"%> 
      </div>

    <div class="reservation-btn">
      <%= link_to '戻る', root_path, class:'reservation-form'%> 
    </div>
    

    
    <script>
  const menu_select = document.getElementById("menu_select");
  menu_select.addEventListener('change', (event) => {
    const selected_index = menu_select.selectedIndex;
    const selected_option = menu_select.options[selected_index];
    const price = selected_option.getAttribute("data-price");
    const personPrice = document.getElementById("person_price").innerHTML = price;
    const people = document.getElementById("reservation_people");
    people.addEventListener("input", () => {
    document.getElementById( "total_price" ).value = Math.floor(personPrice * parseInt(document.getElementById('reservation_people').value));
    })
  });
  </script>

  <% end %> 