<div class="detail">
<h2>ご注文</h2>
<%= form_with model: @order, class: 'order', local: true do |f| %>
  
  <%= image_tag @product.image, size: "600x400" %><br />
  <div id="name", class="name">
    <%= @product.name %>
  </div>
  <div id="price", class="price">
    <%= @product.price %>
  </div>
  <div class="volume">
    <%= @product.volume%>

<% end %>


<%= form_with model: @order, id: 'order-form', class: 'order', local: true do |f| %>
  
  <div calss="order-date">
    <%= f.label :到着希望日を選択, class: 'label'%><br />
    <%= f.date_field :date, class: 'arrival', min: Date.current %>
  </div>

  <div class="order-number">
    <%= f.label :数量%><br />
    <%= f.number_field :number, class: 'number'%>セット
  </div>

  <div class='product_price'>
    <span>合計金額</span><br />
      <%= f.hidden_field :product_price %>
      <span id='product_price'></span>円
    </span>
  </div>

    <div class='product_name'>
      <%= f.text_field :product_name %>
    </div>
  <div>
    <%= f.submit "購入する", id: "button"%> 
  </div>
  <%= link_to '戻る', root_path, class:'reservation-form'%> 
<% end %>

</div>

<script>
window.addEventListener('load', () => {
  const priceInput = document.getElementById("price");
    const inputValue = priceInput.innerHTML;
    const orderNumber = document.getElementById("order_number");
    const nameInput = document.getElementById("name")
    console.log(nameInput)
    console.log(priceInput)
    document.getElementById("product_name").value = nameInput;
    
    order_number.addEventListener("input", () => {
    document.getElementById("product_price").innerHTML = Math.floor(inputValue * parseInt(document.getElementById("order_number").value));
    document.getElementById("order_product_price").value = Math.floor(inputValue * parseInt(document.getElementById("order_number").value));
  })
})
</script>

