<h1>ご注文</h1>
<div class="order-show">
<%= form_with model: @order, class: 'order', local: true do |f| %>
  <div class="detail">
    <div id="photo", class="detail-photo">
      <%= image_tag @product.image, size: "600x400" %>
    </div>
    <div id="name", class="detail-name">
      <%= @product.name %>
    </div>
    <div id="price", class="detail-price">
      <%= @product.price %>
    </div>
    <div class="detail-volume">
      <%= simple_format @product.volume%>
    </div>
  </div>
<% end %>


<%= form_with model: @order, id: 'order-form', local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>


<div class="order-form">
  <div calss="order-date">
    <%= f.label :到着希望日を選択, class: 'label'%><br />
    <%= f.date_field :arrival, class: 'arrival', min: Date.current %>
  </div>

  <div class="order-number">
    <%= f.label :数量%><br />
    <%= f.number_field :number, class: 'number'%>セット
  </div>

  <div class='product_price'>
    <span>合計金額</span><br />
      <%= f.hidden_field :product_price %>
      <span id='product_price'></span>円
    </span>
  </div>

  <div class='product_name'>
    <%= f.hidden_field :product_name %>
  </div>
  
  <div class='product_id'>
    <%= f.hidden_field :product_id, :value => @product.id %>
  </div>
  
  <div>
    <%= f.submit "購入する"%> 
  </div>
  <%= link_to '戻る', root_path, class:'reservation-form'%> 
</div>
</div>

  
<% end %>


<script>
window.addEventListener('load', () => {
  const priceInput = document.getElementById("price");
    const inputValue = priceInput.innerHTML;
    const orderNumber = document.getElementById("order_number");
    const nameInput = document.getElementById("name")
    const nameValue = nameInput.innerHTML;
    document.getElementById("order_product_name").value = nameValue;
    
    order_number.addEventListener("input", () => {
    document.getElementById("product_price").innerHTML = Math.floor(inputValue * parseInt(document.getElementById("order_number").value));
    document.getElementById("order_product_price").value = Math.floor(inputValue * parseInt(document.getElementById("order_number").value));
  })
})
</script>

