  <h1><%= link_to '予約フォーム', root_path, class:'reservation-form'%></h1>
  <%= form_with model: @reservation, id: 'charge-form', class: 'reservation', local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
      <div class="reservation-price">

    <h2>クレジットカード情報</h2>
    <div class="card-form">
      <div class='form-wrap'>
      <%= f.label :カード番号, class: 'label'%><br />
        <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
      </div>
      <div class='form-wrap'>
        <a class="cvc">CVC</a><br />
        <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
      </div>
      <div class='form-wrap'>
        <%= f.label :有効期限, class: 'label'%><br />
      <div class='input-expiration-date-wrap'>
        <%= f.text_field :exp_month, class:"exp_month", placeholder:"例)3" %>月<br />
        <%= f.text_field :exp_year, class:"exp_year", placeholder:"例)24" %>年
      </div>
    </div>
      <h2>コース選択</h2>
      <div class="reservation">
        <div calss="reservation-date">
          <%= f.label :日付を選択, class: 'label'%><br />
          <%= f.date_field :date, class: 'date', min: Date.current %>
        </div>

        <div class="reservation-time">
          <%= f.label :時間を選択, class: 'label' %><br />
          <%= f.time_select :time, {minute_step: 30}, class: 'time'%>
        </div>

        <div class="menu">
          コース<br /> 
          <%= f.select :menu_id, (Menu.all.map {|m| [m.name, m.id, {'data-price' => m.price }]}), {}, {id: 'menu_select'} %>
        </div>

        <div class="reservation-people">
          <%= f.label :人数%><br />
          <%= f.number_field :people, class: 'people'%>人
        </div>
        
        <div class="person-price">
          <span>1人当たりのお支払い</span><br />
          <span>
          <%= f.hidden_field :person_price %>
          <span id="person_price"></span>円 
          </span>
        </div>

        <div class="total-price">
          <span>合計金額</span><br />
          <span>
          <%= f.hidden_field :total_price %>
          <span id="total_price"></span>円
          </span>
          
        </div>

        <div class="reservation-remark">
          <%= f.label :その他%><br />
          <%= f.text_area :remark, placeholder:"嫌いな食べ物など",class: 'remark'%>
        </div>
      </div>
      <div>
        <%= f.submit "予約する", id: "button"%> 
      </div>

    <div class="reservation-btn">
      <%= link_to '戻る', root_path, class:'reservation-form'%> 
    </div>
    
<% end %>
    
    <script>
  const menu_select = document.getElementById("menu_select");
  menu_select.addEventListener('change', (event) => {
    const selected_index = menu_select.selectedIndex;
    const selected_option = menu_select.options[selected_index];
    const price = selected_option.getAttribute("data-price");
    const personPrice = document.getElementById("person_price").innerHTML = price;
    document.getElementById("reservation_person_price").value = price;
    const people = document.getElementById("reservation_people");
    people.addEventListener("input", () => {
    document.getElementById("total_price").innerHTML = Math.floor(personPrice * parseInt(document.getElementById('reservation_people').value));
    document.getElementById("reservation_total_price").value = Math.floor(personPrice * parseInt(document.getElementById('reservation_people').value));
    })
  });
  </script>

  
  